<routes>
	<products>
        <route>san-pham.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>index</action>
        </defaults>
    </products>
	<products_cate>
        <route>san-pham/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>index</action>
        </defaults>
    </products_cate>
	<products_detail>
        <route>san-pham/:cate/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>detail</action>
        </defaults>
    </products_detail>
		<search>
        <route>tim-kiem.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>search</action>
        </defaults>
    </search>
	<content>
        <route>gioi-thieu.html</route>
        <defaults>
            <module>default</module>
            <controller>content</controller>
            <action>index</action>
        </defaults>
    </content>
	
	<news>
        <route>tin-tuc.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>index</action>
        </defaults>
    </news>
	<news_detail>
        <route>tin-tuc/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>detail</action>
        </defaults>
    </news_detail>
    
    <gt_detail>
        <route>gioi-thieu/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>content</controller>
            <action>detail</action>
        </defaults>
    </gt_detail>
	
	<contact>
        <route>lien-he.html</route>
        <defaults>
            <module>default</module>
            <controller>contact</controller>
            <action>index</action>
        </defaults>
    </contact>
</routes>